black==21.7b0
Flask==2.0.1
Flask-JWT==0.3.2
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pre-commit==2.13.0
PyJWT==1.4.2
pyodbc==4.0.31
python-decouple==3.4
SQLAlchemy==1.4.22
flake8==3.9.2
isort==5.9.2
interrogate==1.4.0